@model IEnumerable<Book.ViewModels.AuthorViewModel>

@{
    ViewBag.Title = "Authors";
}

<h2>Authors</h2>

<style>
    
    .table {
        border-collapse: collapse;
        width: 100%;
    }

        .table th, .table td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .table th {
            background-color: #f2f2f2;
        }
</style>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Country</th>
            <th></th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>@author.Age</td>
                <td>@author.Country</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = author.AuthorId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = author.AuthorId })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
