@model IEnumerable<Book.ViewModels.BookViewModel>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<style>
  
    .table {
        border-collapse: collapse;
        width: 100%;
    }

        .table th, .table td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .table th {
            background-color: #f2f2f2;
        }
</style>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Publish Date</th>
            <th>Author ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@Html.DisplayFor(modelItem => item.PublishDate)</td>
                <td>@Html.DisplayFor(modelItem => item.AuthorId)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) ||
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>